//@font-face {
//  font-family: 'Montserrat';
//  src: local('Montserrat'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
//}
//
//@font-face {
//  font-family: 'Montserrat';
//  font-weight: 700;
//  src: local('Montserrat'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
//}
//
//@font-face {
//  font-family: 'Montserrat';
//  font-weight: 300;
//  src: local('Montserrat'), url(../fonts/Montserrat-Light.ttf) format('truetype');
//}

@import "./common/colors";

*, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

p {
  margin: 0;
}

.box-shade {
  box-shadow: 2px 2px 7px #ccc;
  transform: perspective(500px) translateZ(0);
  &.add-hover-3d:hover, &.active-3d {
    box-shadow: 0px 10px 9px -7px #333;
    transform: scale3d(1.1, 1.1, 1.1) translate(-2px, 2px);
  }
}


.app-special-h1 {
  font-weight: bold;
  font-family: 'Pacifico', cursive
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}