.checkout-list {
  th, td {
    text-align: center;
  }
  .checkout-item{
    .item-name{
      cursor: pointer;
      text-decoration: underline;
      color: #228be5;
      &:hover {
        color: #3e9cec;
      }
    }
  }
}