.checkout-list {
  .center {
    text-align: center;
    & > div {
      display: block;
      margin: auto;
    }
  }

  .checkout-item {
    .item-name {
      cursor: pointer;
      text-decoration: underline;
      color: #228be5;

      &:hover {
        color: #3e9cec;
      }
    }
    &.total td {
      align: center
    }
  }
}