.login-div{

}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
  }
  input {
    border: none;
    border-bottom: 1px solid #228be5;
    transition: all ease-out .3s;
    &:focus {
      outline: none;
    }
  }
}