@import "colors";
.cart-popup {
  p {
    margin: 0;
  }

  position: absolute;
  background: $regular-white;
  border: 2px solid $regular-black;
  color: $regular-black;
  z-index: 999;
  padding: 5px;

  .empty-message {
    text-align: center;
    color: $regular-gray;
  }

  .list-item {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    max-height: 286px;
    overflow: scroll;

    .item {
      cursor: pointer;
      font-size: .9em;
      margin-bottom: 5px;
      .item-name {
        line-height: 1;
        margin-bottom: 5px;
      }
      .item-quantity {
        font-weight: bold;
      }
    }
  }

  .checkout-button {
    background: $regular-black;
    color: $regular-white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: auto;
    font-size: 1em;
    border: 1px $regular-black solid;
    transition: all ease-in .3s;

    &:hover {
      background: $regular-white;
      color: $regular-black;
      border: 1px $regular-black solid;
    }
  }
}