@import "colors";
.checkout-button {
  color: $regular-blue;
  background: $regular-white;
  border: 2px $regular-blue solid;
  border-radius: 7px;
  padding: 5px 30px;
  font-size: 1.2em;
  width: 130px;
  text-align: center;
  transition: all ease-in .2s;

  &:hover {
    background: $regular-blue;
    color: $regular-white;
  }

}
