@import "./colors";

.order-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  .change-amount-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;

    .amount-button {
      width: 42px;
      height: 42px;
      border-radius: 2px;
    }


    p {
      margin: 0;
      font-size: 1.5em;
      flex-grow: 1;
    }

    button:hover {
      background: $regular-blue;
      color: $regular-white;
    }
  }

  .message-group {
    width: 100%;

    .message-content {
      position: relative;
      height: 136px;
      transition: all ease-out 0.4s;

      .close-button {
        position: absolute;
        top: -11px;
        right: -11px;
        color: $regular-blue;
        background: white;
        border-radius: 14px;
        border: 1px solid $regular-blue;
        width: 26px;
        height: 26px;
        font-size: 12px;
        text-align: center;

        &:hover {
          background: $regular-black;
          color: $regular-white;
        }
      }

      textarea {
        width: 100%;
        font-size: 1em;
        font-family: monospace;
        border-color: $regular-blue;
      }

      &.flat {
        height: 0;
        padding: 0;
        border: 0;
        visibility: hidden;

        .close-button, textarea {
          display: none;
        }
      }
    }

    button {
      border: none;
      color: $regular-blue;
      margin-bottom: 5px;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }


  }
}
